<!DOCTYPE html>
<html lang="en">

<body>
<link th:href="@{/styles/lots.css}" rel="stylesheet"/>
<div th:replace="fragments/header :: header"></div>

<div class="wrapper">
    <main>
        <div class="lot" th:each="lot: ${lots}" th:attr="onclick=|rentLot('${lot.id}')|">
            <img th:src="@{${lot.image}}" alt="image of lot">
            <h3 th:text="${lot.name}"></h3>
            <p th:text="${lot.description}"></p>
            <h6 th:text="${lot.price}"></h6>
            <button type="button" class="rent" th:href="@{/lots/rent/{id}(id=${lot.id})}">Rent</button>
        </div>
    </main>
    <aside class="left-sidebar">Left Sidebar</aside>
    <footer th:replace="fragments/footer :: footer"></footer>
</div>
<script>
    function rentLot(id) {
        window.location.href = "/lots/rent/" + id;
    }
</script>
</body>

</html>