* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Saira', Arial, Helvetica, sans-serif;
}

.wraper {
    display: grid;
    justify-content: center;
    grid-template-areas:
    "C"
    "D"
    "T";
}

@media screen and (min-width: 700px) {
    .wraper {
        padding-top: 1%;
        padding-left: 1%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
        /* grid-template-columns: repeat(auto-fit, minmax(50px,auto-fit)); */

        grid-template-rows: min-content min-content min-content;
        gap: 30px;
        grid-auto-flow: row;
        justify-content: start;
        grid-template-areas:
    "C D . ."
    "C . . ."
    "T T T T";
    }
}


#lot-description {
    grid-area: T;
}

#lot-card {
    grid-area: C;
    display: flex;
    justify-content: center;
}

#rent-click {
    align-self: center;
}

.rent-button {
    pointer-events: none;
    padding: 15px 32px;
    background-color: #afbbc0;
    border-radius: 30px;
    border-width: 1px;
    font-size: 16px;
    color: rgb(0, 0, 0);

}

.rent-button.active {
    pointer-events: all;
    background-color: #00CA85;
}

.rent-button:hover {
    background-color: #50ee50;
}

.rent-button:active {
    background-color: antiquewhite;
}

h1 {
    margin: 30px 0px;
    color: #313131;
    font-size: 42px;
    font-weight: 900;
    text-align: center;
}

h1 span {
    font-weight: 300;
}

.date-picker {
    grid-area: D;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    min-width: 270px;
    background-color: #edf6f8;
    border: #9b9b9b;
    border-radius: 15px;
    margin: 30px auto;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    user-select: none;
}


.date-picker .selected-date {
    align-self: center;
    color: #000000;
    font-size: large;
    pointer-events: none;
}

.date-picker .dates {
    cursor: pointer;
}

.date-picker .dates .month {
    font-weight: 500;
    cursor: default;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(206, 206, 206);
}

.date-picker .dates .month .arrows {
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #313131;
    font-size: 20px;
}

.date-picker .dates .month .arrows:hover {
    background-color: #F3F3F3;
}

.date-picker .dates .month .arrows:active {
    background-color: #00CA85;
}

.date-picker .dates .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 200px;
}

.date-picker .dates .days .day {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #313131;
}

.date-picker .dates .days .day.disabled {
    cursor: no-drop;
    opacity: 0.3;
    background-color: #9b9b9b;
    text-decoration-line: line-through;
}

.date-picker .dates .days .day.selected {
    pointer-events: none;

    background-color: #00CA85;
}

.date-picker .dates .days .day.selected-between {
    background-color: #c9e1dd;
}